/* Fundo geral */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #2a005a, #3d0dbd);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container central */
.auth-container {
  width: 100%;
  max-width: 480px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Card */
.auth-card {
  background: #1f003f;
  padding: 3rem 2.5rem;
  border-radius: 16px;
  width: 600px;
  max-width: 650px; /* antes era 480px */
  text-align: center;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.5);
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Títulos */
.auth-card h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.subtitle {
  font-size: 0.95rem;
  margin-bottom: 25px;
  color: #cfc7ff;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #f3f0ff;
  font-size: 1rem;
  transition: 0.2s;
}

.auth-card input:focus {
  box-shadow: 0 0 0 3px #7a4fff;
}

/* Botão */
.auth-card button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border-radius: 12px;
  border: none;
  background: #7a4fff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-card button:hover {
  background: #9b70ff;
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}

/* Links */
.link {
  display: block;
  margin-top: 18px;
  font-size: 0.95rem;
  color: #cfc7ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #fff;
}
